{% extends "/template.html" %}
{% block body %}
<div class="row">
  <h3>Take a deep breath.</h4>
  <p>I'm about to send you to twitter to authenticate your account and get permission to add users to your lists.</p>
  <p>Now, before you go there and freak the hell out when you see this:</p>
  <div class="well"><img src="{{ url_for("static", filename="twitter-permissions.png") }}" alt="Horrifying twitter permissions." /></div>
  <p>Twitter has a <a href="https://blog.twitter.com/2011/mission-permission" target="_blank">very broad permissions system</a>, and this is the level I have to ask for.</p>
  <p>I promise not to do anything nefarious, ever.</p>
  <a href="{{ url_for("twitter_auth") }}" class="btn btn-primary">Okay, I Promise To Keep My Cool</a>
</div>
{% endblock %}
